<nav x-data="{ open: false }" class="bg-white shadow-custom">
    <div class="container mx-auto">
        <div class="relative h-16 flex items-center">
            <div class="absolute inset-y-0 right-0 flex items-center md:hidden">
                <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false" @click="open = !open">
                    <span class="sr-only">Open main menu</span>
                    <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" :class="{ 'hidden': open, 'block': !(open) }">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                    <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" :class="{ 'block': open, 'hidden': !(open) }">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="w-full hidden md:block">
                    <div class="flex items-center justify-between space-x-4">
                        <a href="#section-course" class="hover:bg-custom-sky block px-3 py-2 rounded-md text-xl font-medium tracking-wide">Про курс</a>
                        <a href="#section-teacher" class="hover:bg-custom-sky block px-3 py-2 rounded-md text-xl font-medium tracking-wide">Лектор</a>
                        <a href="#section-program" class="hover:bg-custom-sky block px-3 py-2 rounded-md text-xl font-medium tracking-wide">Програма</a>
                        <a href="#section-call" class="hover:bg-custom-sky block px-3 py-2 rounded-md text-xl font-medium tracking-wide">Записатись</a>
                        <a href="#section-feedback" class="hover:bg-custom-sky block px-3 py-2 rounded-md text-xl font-medium tracking-wide">Контакти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div x-show="open" class="md:hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1">
            <a href="#section-course" class="block px-3 py-2 rounded-md text-xl font-medium">Про курс</a>
            <a href="#section-teacher" class="block px-3 py-2 rounded-md text-xl font-medium">Лектор</a>
            <a href="#section-program" class="block px-3 py-2 rounded-md text-xl font-medium">Програма</a>
            <a href="#section-call" class="block px-3 py-2 rounded-md text-xl font-medium">Записатись</a>
            <a href="#section-feedback" class="block px-3 py-2 rounded-md text-xl font-medium">Контакти</a>
        </div>
    </div>
</nav>