@import "tailwindcss/base";
@import "./custom-base-styles.pcss";

@import "tailwindcss/components";
@import "./custom-components.pcss";

@import "tailwindcss/utilities";
@import "./custom-utilities.pcss";