.form-label {
    @apply block mb-2 text-xs font-bold uppercase tracking-wide;
}

.form-input {
    @apply w-full p-4 bg-gray-50 border border-white rounded text-lg leading-6 focus:outline-none focus:bg-white;
}