.accordion {

    &-item {
        @apply bg-white first:rounded-t last:rounded-b overflow-hidden ;
    }

    &-header {
        @apply bg-amber-200;
    }

    &-trigger {
        @apply py-4 px-8 block;
    }

    &-content {
        @apply py-4 px-8 bg-amber-100;
    }

    &-collapse {

    }
}