<div class="flex flex-wrap mb-10">
    <div class="w-full lg:w-2/3 mb-10">
        <h2 class="text-2xl lg:text-[44px] lg:leading-[57px] font-normal mb-10"><b>Про курс</b> «Аналогова та цифрова ортопедія з опорою на дентальні імплантати»</h2>
        <div class="flex flex-wrap -mx-3 mb-5">
            <div class="w-full sm:w-1/3 p-3">
                <dl class="list-custom3 list-inside lg:list-outside list-disc">
                    <dt>Для кого?</dt>
                    <dd>Стоматологи-ортопеди</dd>
                    <dd>Хірурги</dd>
                </dl>
            </div>
            <div class="w-full sm:w-2/3 p-3">
                <dl class="list-custom3 list-inside lg:list-outside list-disc">
                    <dt>Як допоможе?</dt>
                    <dd>Змотивує перейти на використання цифрових технологій.</dd>
                    <dd>Дасть відповіді на питання про сучасні методи роботи з імплантатами та всіма видами ортопедичних конструкцій, особливо мультиюніт абатментами.</dd>
                    <dd>Покращить практичні навички протезування.</dd>
                </dl>
            </div>
        </div>
        <dl class="list-custom3 list-none">
            <dt>Що буде?</dt>
            <dd>На курсі ви дізнаєтеся про нові можливості цифрового протоколу в стоматологічній ортопедії. Матимете змогу попрактикуватися знімати відбитки традиційним (аналоговим) способом та більш сучасним - за допомогою цифрового сканера. Присутній на курсі технік допоможе опанувати методи моделювання конструкцій, зокрема на 3D-принтері.</dd>
            <dd>Відкриємо тонкощі проведення імплантації та надамо алгоритм роботи з мультиюніт абатментами.</dd>
        </dl>
    </div>
    <div class="w-full lg:w-1/3">
        <div class="w-3/4 lg:w-full mx-auto">
            <picture>
                <source srcset="{{ 'course/course-sm.webp'|media }}" type="image/webp">
                <source srcset="{{ 'course/course-sm.png'|media }}" type="image/png">
                <img width="640px" height="1100px" class="w-auto h-auto max-h-full lg:hidden" src="{{ 'course/course-sm.png'|media }}" alt="Моделювання конструкцій">
            </picture>
            <picture>
                <source srcset="{{ 'course/course-md.webp'|media }}" type="image/webp">
                <source srcset="{{ 'course/course-md.png'|media }}" type="image/png">
                <img width="942px" height="1098px" class="w-auto h-auto max-h-full hidden lg:block" src="{{ 'course/course-md.png'|media }}" alt="Моделювання конструкцій">
            </picture>
        </div>
    </div>
</div>
<div class="bg-white py-5 px-10 lg:py-10 lg:px-20 shadow-custom">
    <p class="text-custom-blue font-semibold text-center text-lg lg:text-2xl">Після цього інтенсиву ви будете готові працювати з ортопедичними пацієнтами різного рівня складності вже наступного дня!</p>
</div>