<div class="flex flex-wrap -m-6">
    <div class="w-full lg:w-3/5 p-6">
        <h2 class="mb-5 text-2xl lg:text-[44px] lg:leading-[57px] font-bold text-center lg:text-left ">Олександр Обабко</h2>
        <dl class="list-custom2 text-base lg:text-lg mb-5">
            <dt>Лектор міжнародного рівня</dt>
            <dd>Стоматолог, хірург, ортопед з <b>15-ти річним практичним досвідом  імплантації</b></dd>
            <dd>Засновник і викладач «Цифрової лабораторії навігаційної хірургії лікаря Обабко»</dd>
            <dd>Засновник цифрової лабораторії ObabkoLab</dd>
            <dd>Засновник та головний лікар стоматологічної клініки ObabkoDent</dd>
            <dd>Офіційний представник R2Gate в Україні</dd>
            <dd>Проходив стажування в стоматологічній клініці «MIR» (м. Тегу, Південна Корея)</dd>
        </dl>
        <p class="text-base lg:text-lg">Олександр спеціалізується на вирішенні складних ортопедичних випадків та володіє передовими хірургічними техніками на кшталт аугментації м'яких та твердих тканин, синус-ліфтингу. У своїй практиці спирається на надсучасні цифрові протоколи, зокрема використовує навігаційні шаблони.</p>
    </div>
    <div class="w-full lg:w-2/5 p-6 lg:order-first">
        <div class="h-full">
            <img src="{{ 'photo/teacher.png'|media }}" alt="Олександр Обабко">
        </div>
    </div>
</div>