<div class="flex flex-wrap -m-3">
    <div class="w-full md:w-2/5 p-3 z-10 hidden">
        <div class="h-full">
            <img src="{{ 'assets/images/teacher.png'|theme }}" alt="">
        </div>
    </div>
    <div class="w-full md:w-3/5 p-3 z-0">
        <h2 class="mb-5 text-[44px] leading-[57px] font-bold">Олександр Обабко</h2>
        <div class="p-3.5 md:pl-10 md:-ml-10 mb-10 text-2xl font-semibold uppercase tracking-wide bg-[#BAD4F2] lg:max-w-[75%] rounded">Лектор міжнародного рівня</div>
        <ul class="text-lg font-normal mb-5 lg:max-w-[85%]">
            <li class="flex mb-3"><span class="dot flex-none my-1 mr-5"></span><span>Стоматолог, хірург, ортопед з <b>15-ти річним практичним досвідом  імплантації</b></span></li>
            <li class="flex mb-3"><span class="dot flex-none my-1 mr-5"></span>Засновник і викладач «Цифрової лабораторії навігаційної хірургії лікаря Обабко»</li>
            <li class="flex mb-3"><span class="dot flex-none my-1 mr-5"></span>Засновник цифрової лабораторії ObabkoLab</li>
            <li class="flex mb-3"><span class="dot flex-none my-1 mr-5"></span>Засновник та головний лікар стоматологічної клініки ObabkoDent</li>
            <li class="flex mb-3"><span class="dot flex-none my-1 mr-5"></span>Офіційний представник R2Gate в Україні</li>
            <li class="flex"><span class="dot flex-none my-1 mr-5"></span>Проходив стажування в стоматологічній клініці «MIR» (м. Тегу, Південна Корея)</li>
        </ul>
        <div class="prose prose-lg">
            <p class="mb-0">Олександр спеціалізується на вирішенні складних ортопедичних випадків та володіє передовими хірургічними техніками на кшталт аугментації м'яких та твердих тканин, синус-ліфтингу. У своїй практиці спирається на надсучасні цифрові протоколи, зокрема використовує навігаційні шаблони.</p>
        </div>
    </div>
</div>